				<div class="row">
					<div class="col-lg-12">
						<h1>Servers</h1>
						<ol class="breadcrumb">
							<li class="active"><i class="fa fa-tasks"></i> Servers</li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 ng-cloak">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Server Count by Cloud</h3>
							</div>
							<div class="panel-body">
								<div id="server-count-by-cloud"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 ng-cloak">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Server Count by Region</h3>
							</div>
							<div class="panel-body">
								<div id="server-count-by-region"></div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 ng-cloak">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Server By Platform</h3>
							</div>
							<div class="panel-body">
								<div id="server-by-platform"></div>
							</div>
						</div>
					</div>
				</div>

        <div class="row ng-cloak">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Server Launches</h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-area"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
